/* 
<meta name="viewport" content="width=device-width, initial-scale=1">  
<style>  

table.center {
  margin-left: auto; 
  margin-right: auto;
  align: right;
  
}
body{  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: pink;  
  // background-image: radial-gradient(pink, blue, purple);
  background-image:radial-gradient(rgba(0, 255, 260, 1.5),rgba(255, 0, 255, 0.5));
}  
.container {  
    padding: 50px;  
  background-color: Dodgerblue;  
}  

label { display: inline-block; width: 210px; text-align: left; }
  
input[type=text],input[type=email], input[type=password],input[type=tel],input[type=date],input[type=number], textarea {  
  width: 50%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
  
}  
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=radio]:focus, input[type=date]:focus, input[type=email]:focus, input[type=tel]:focus {  
  background-color:LightSkyBlue;  
  outline: none;  
}  
 div {  
            padding: 2px 0;  
             
         }       
       
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-color: navy;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 49.52%;  
  opacity: 0.9;  
  
}  
article {
  background-color: #F1F1F1;
  align: center;
  padding: 20px;
  height: 15px;
  }

header {
overflow: hidden;
  background-color: #333;
  align: center;
  
  }
  .header-right
  
  
  { 
margin : 0;
margin-top:0;
  float:right; }
  
.logoutbtn {  
   background-color: navy;  
  color: white;  
  padding: 16px 60px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 10%; 
}  

.registerbtn:hover {  
  opacity: 1;  
}  
</style>   */